@import "tailwindcss";

@theme {
  
  --color-primary: #00D4FF;
  --color-secondary: #2ff801;
  --color-surface: #050505;
  --color-neural-glow: #00D4FF;
  --color-neural-surface: #050505;

  /* تعريف الخطوط */
  --font-consciousness: var(--font-epilogue);
  --font-space: var(--font-space);
}

:root {
  --background: #050505;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-epilogue), sans-serif;
  overflow-x: hidden;
}